.Header{
    border-bottom: 3px solid rgba(27, 27, 27, 0.699);
    margin: 0 70px;
    text-align: center;
}

.Header-Budget{
    color: gold;
    margin-bottom: 20px;   
}

h1{
    font-size: 50px;
    margin-top: 0px;
    padding-top: 50px;

}